 
 <div class='row'>

  <div class='span0 well text-center'>

 <% if interest.blank? %>
    <p>No articles meet your criteria<p>
      <% else %>

<table id="locations" class ="table1" cellspacing="0" width="100%">
  <thead>
    <tr>
    <th>Date</th>
    <th>Articles based on your interest</th>
  </tr>
  </thead>

<body>
  <tr>
     <% interest["response"]["docs"].each do |article| %>
    <td><%= article["pub_date"] %></td>
    
    <td><%= link_to article["headline"]["main"], article["web_url"], target: "_blank" %> </td>
      </tr>
    <% end %>
    
    
  </body>
</table>
<% end %>

</div>
</div>
   
    