 
 <div class='row'>

  <div class='span0 well text-center'>

 <% if interests.blank? %>
    <p>No articles meet your criteria<p>
      <% else %>

<table id="locations" class ="table1" cellspacing="0" width="100%">
  <thead>
    <tr>
    <th>Date</th>
    <th><%= "Articles based on your interest -" + User.interest %></th>
  </tr>
  </thead>

<body>
  <tr>
     <% interest["response"]["docs"].each do |article| %>
    <td><%= article["pub_date"] %></td>
    
    <% article["web_url"] %>
    <% article["headline"].each do |head| %>
    <% head["main"].each do |maintitle| %>
    <td><%= link_to art_url, maintitle, target: "_blank" %> </td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
    
  </body>
</table>
<% end %>

</div>
</div>
   
    