<table id="locations" class ="table1" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th><%= "Events based on your interest -" + User.interest1 %></th>
    <th>Description</th>
    <th>Free?</th>
  </tr>
  </thead>

<body>
  <tr>
      <% @events_url.each do |url| %>
        <% @events_name.each do |name| %>
           <td><%= link_to @events_url, @events_name, target: "_blank" %></td>
            <% @events_desc.each do |description| %>
            <td><%= @events_desc %></td>
            <% @events_free.each do |free| %>
            <td><%= @events_free %></td>
      </tr>
      <% end %>
    <% end %>
    <% end %>
    <% end %>
  </body>
</table>


