<div class='row'>

  <div class='span0 well text-center'>

 <% if freetime.blank? %>
    <p>No events meet your criteria<p>
      <% else %>


<table id="locations" class ="table1" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>"Event" </th>
    <th>Description</th>
    
  </tr>
  </thead>

<body>
  <tr>
      <% freetime["results"].each do |event| %>
        
           <td><%= link_to event["event_name"], event["event_detail_url"], target: "_blank" %></td>
            
            <td><%= event["web_description"] %></td>
     </tr>
     
    
    <% end %>
  </body>
</table>
<% end %>

