
 <div class='row'>

  <div class='span0 well text-center'>

 <% if meetups.has_value?("que bubble desastre") %>
    <p class="intro_text">No meetups meet your criteria<p>
      <% else %>


<p>Meetup events based on your interest</p>
<table cellspacing="0" width="85%" class="table table-striped">
  <thead>
  
  <tr>
    <th>Meetup Group Name</th>
    <th>Event Name</th>
    <th>Status</th>
  </tr>
  </thead>

<body>
  <tr>
      <% meetups["results"].each do |meetup| %>
        
          <td><%= meetup["group"]["name"] %></td>
        
           <td><%= link_to meetup["name"], meetup["event_url"], target: "_blank" %></td>
           <td><%= meetup["status"] %></td>
  </tr>
      
      <% end %>
    
  </body>
</table>

<% end %>
