<table id="locations" class ="table1" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Date</th>
    <th>Top Stories</th>
  </tr>
  </thead>

<body>
  <tr>
    <% @top_date.each do |date| %>
      <td><%= @top_date %></td>
      <% @top_url.each do |url| %>
      <% @top_title.each do |title| %>
      <td><%= link_to @top_url, @top_title, target: "_blank" %></td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
  </body>
</table>


