
<div class='row'>

  <div class='span0 well text-center'>

    <% if stories.empty? %>
    <p class="intro_text">There are no top stories at this time.<p>
      <% else %>


<table id="locations" class ="table1" cellspacing="0" width="75%">
  <thead>
  <tr>
    
    <th>Today's Top Stories</th>
  </tr>
  </thead>

<body>
  <tr>
    <% stories["results"].each do |result| %>
              
     
      <td><%= link_to result["title"], result["url"], target: "_blank" %></td>
      </tr>
   
    <% end %>
    
    
  </body>
</table>

<% end %>

</div>
</div>
