
<div class='row'>

  <div class='span0 well text-center'>

    <% if stories.blank? %>
    <p>There are no top stories at this time.<p>
      <% else %>

<table id="locations" class ="table1" cellspacing="0" width="100%">
  <thead>
  <tr>
    
    <th>Top Stories</th>
  </tr>
  </thead>

<body>
  <tr>
    <% stories["results"].each do |result| %>
              
     
      <td><%= link_to result["title"], result["url"], target: "_blank" %></td>
      </tr>
   
    <% end %>
    
    
  </body>
</table>
<% end %>


</div>
</div>
