/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.top_space
{
  height: 150px;
}

.main_space
{
  
}

.bottom_space
{
  
}
body {
  background-color: #DEDEDE;
  }
  .jumbotron
  {text-align:center;}
  
  .container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}
.intro_text
{text-align:center;}

.button_link1
{width: 10em;  height: 2em; font-size: 2em; background-color: #c4f1fe; 
border-radius: 2em;
}

.button_link2
{
  width: 10em;  height: 2em; font-size: 2em; background-color: #EBFFD6; border-radius: 2em; 
}
.right {
  text-align:right;
  }
  .left
  {text-align:left;
  }
  .row#center 
  {text-align: center;
  }